{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/da2dd3a904.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'movie/film.css' %}">



</head>
<body>
	<header class="site-header">
	  <nav id="nawi" class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a  class="navbar-brand mr-4" href="{% url 'movie-home' %}" id="logo">Filmweb</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">

	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          {% if user.is_authenticated %}
	          	  <a class="nav-item nav-link" href="{% url 'movie-create' %}">Nowy Film</a>
		          <a class="nav-item nav-link" href="{% url 'profile' %}">Konto</a>
		          <a class="nav-item nav-link" href="{% url 'logout' %}">Wyloguj</a>
	          {% else %}
		          <a class="nav-item nav-link" href="{% url 'login' %}">Zaloguj</a>
		          <a class="nav-item nav-link" href="{% url 'register' %}">Utwórz konto</a>
		      {% endif %}  

	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	<main id="wrapper" role="main" class="container">
	  <div id="body1" class="container">
	    <div class="">

	    	
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

	      {% block content %}{% endblock %}


	    </div>
	  </div>
	</main>

</body>
</html>